#dla_div_boton {
  float: right;
  background-color: blue; }

#dla_form_buy {
  height: 50px; }

header#site-header {
  background: orange; }

th {
  background: royalblue; }

h1.entry-title {
  font-size: 40px;
  color: pink;
  text-align: center;
  background-color: red; }

p.footer-copyright {
  font-size: 30px;
  color: green;
  text-align: center;
  background-color: red; }
